@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
:root {
    --main-color: #00abf0;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --first--color: #B8860B;
    --third--color: #FFD700;
    --fourth--color: #019000;
    --fiveth--color: #2AAF2D;
    --sixth--color: #81EE96;
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Responsive */

@media (max-width: 2560px) {
    .container {
        margin-left: 44%;
        margin-right: 40%;
    }
  }

@media (max-width: 1440px) {
    .container {
        margin-left: 45%;
        margin-right: 40%;
    }
  }

@media (max-width: 1284) {
    .container {
        margin-left: 45%;
        margin-right: 40%;
    }
}
  
@media (max-width: 1024px) {
    .container {
        margin-left: 40%;
        margin-right: 30%;
    }
}

@media (max-width: 820px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 800px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 640px) {
    .container {
        margin-left: 34%;
        margin-right: 15%;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 33%;
        margin-right: 15%;
    }
}
  
@media (max-width: 580px) {
    .container {
        margin-left: 425px;
        margin-right: 200px;
    }
}

@media (max-width: 540px) {
    .container {
        margin-left: 32%;
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 29%;
        margin-right: 10%;
    }
}
  
@media (max-width: 430px) {
    .container {
        margin-left: 27%;
        margin-right: 10%;
    }
}

@media (max-width: 414px) {
    .container {
        margin-left: 25%;
        margin-right: 10%;
    }
}
  
@media (max-width: 384px) {
    .container {
        margin-left: 21%;
        margin-right: 10%;
    }
}
  
@media (max-width: 320px) {
    .container {
        margin-left: 16%;
        margin-right:5%;
    }
}

@media (max-width: 280px) {
    .container {
        margin-left: 30px;
        margin-right: 0;
        
    }
} 

@media (max-width: 240px) {
    .container {
        margin-left: 10px;
        margin-right: 0;
        
    }
} 