@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
:root {
    --main-color: #00abf0;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --first--color: #B8860B;
    --third--color: #FFD700;
    --fourth--color: #019000;
    --fiveth--color: #2AAF2D;
    --sixth--color: #81EE96;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }





.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
  
.header.sticky {
    background: var(--bg-color);
}

.navbar {
    position: relative;
}
  
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
  
.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}
  
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}





body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--text-color);
}




.contact {
    min-height: auto;
    padding-bottom: 7rem;
  }
  
  .contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .contact form {
    max-height: 70rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
  }
  
  .contact form .input-box .input-field input,
  .contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
  }
  
  .contact form .input-box .input-field input::placeholder,
  .contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
  }
  
  .contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
  }
  
  .contact form .input-box .input-field input:focus~.focus,
  .contact form .input-box .input-field input:valid~.focus,
  .contact form .textarea-field textarea:focus~.focus,
  .contact form .textarea-field textarea:valid~.focus {
    width: 100%;
  }
  
  .contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
  }
  
  .contact form .textarea-field textarea {
    resize: none;
  }
  
  .contact form .btn-box.btns .btn {
    cursor: pointer;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
  }
  
  .footer-text,
  .footer-iconTop {
    position: relative;
  }
  
  .footer-text p {
    font-size: 1.6rem;
  }
  
  .footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
  }
  
  .footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
  }
  
  .footer-iconTop a:hover::before {
    width: 100%;
  }
  
  .footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
  }
  
  .footer-iconTop a:hover i {
    color: var(--main-color);
  }

/* Responsive */

@media (max-width: 2560px) {
    .container {
        margin-left: 44%;
        margin-right: 40%;
    }
  }

@media (max-width: 1440px) {
    .container {
        margin-left: 45%;
        margin-right: 40%;
    }
  }

@media (max-width: 1284) {
    .container {
        margin-left: 45%;
        margin-right: 40%;
    }
}
  
@media (max-width: 1024px) {
    .container {
        margin-left: 40%;
        margin-right: 30%;
    }
}

@media (max-width: 820px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 800px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 37%;
        margin-right: 15%;
    }
}

@media (max-width: 640px) {
    .container {
        margin-left: 34%;
        margin-right: 15%;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 33%;
        margin-right: 15%;
    }
}
  
@media (max-width: 580px) {
    .container {
        margin-left: 425px;
        margin-right: 200px;
    }
}

@media (max-width: 540px) {
    .container {
        margin-left: 32%;
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 29%;
        margin-right: 10%;
    }
}
  
@media (max-width: 430px) {
    .container {
        margin-left: 27%;
        margin-right: 10%;
    }
}

@media (max-width: 414px) {
    .container {
        margin-left: 25%;
        margin-right: 10%;
    }
}
  
@media (max-width: 384px) {
    .container {
        margin-left: 21%;
        margin-right: 10%;
    }
}
  
@media (max-width: 320px) {
    .container {
        margin-left: 16%;
        margin-right:5%;
    }
}

@media (max-width: 280px) {
    .container {
        margin-left: 30px;
        margin-right: 0;
        
    }
} 

@media (max-width: 240px) {
    .container {
        margin-left: 10px;
        margin-right: 0;
        
    }
} 